# Function

In [3]:
def user_greeting():
    print("greeting")
    print("Mr. Zubair")

user_greeting()
user_greeting()
user_greeting()
user_greeting()

greeting
Mr. Zubair
greeting
Mr. Zubair
greeting
Mr. Zubair
greeting
Mr. Zubair

In [4]:
print("something")
def user_greeting():
    print("greeting")
    print("Mr. Zubair")

#user_greeting()
print("something")

something
something

# passing information to function

In [5]:
def user_greeting(user_name): # parameter
    print("greeting")
    print(user_name)

user_greeting('waleed') # passing argument

greeting
waleed

In [8]:
def user_greeting(user_name):
    print("Greeting" + " " + user_name)

user_greeting('noman')
user_greeting('Shakir')
user_greeting('Ali')
user_greeting('Hassan')

Greeting noman
Greeting Shakir
Greeting Ali
Greeting Hassan

In [11]:
def full_name(first_name, last_name, address):
    f_name = first_name + " " + last_name
    print(f_name)

full_name("Nouroz", "Khan")

TypeError: full_name() missing 1 required positional argument: 'address'

In [12]:
def full_name(first_name, last_name):
    f_name = first_name + " " + last_name
    print(f_name)

full_name("Nouroz", "Khan", 'Malir')

TypeError: full_name() takes 2 positional arguments but 3 were given

# Positional Argument

In [10]:
def full_name(first_name, last_name):
    f_name = first_name + " " + last_name
    print(f_name)

full_name("Nouroz", "Khan")
full_name("Noman", "Noor")

Nouroz Khan
Noman Noor

In [13]:
def full_name(last_name, first_name):
    f_name = first_name + " " + last_name
    print(f_name)

full_name("Nouroz", "Khan")
full_name("Noman", "Noor")

Khan Nouroz
Noor Noman

# keyword argument

In [14]:
def full_name(last_name, first_name):
    f_name = first_name + " " + last_name
    print(f_name)

full_name(first_name = "Nouroz", last_name = "Khan")

Nouroz Khan

# passing default parameter

In [16]:
def animal(name, spices = 'dog'):
    print("This is my " + spices)
    print(f'My {spices} name is {name}')

animal('Tom')

This is my dog
My dog name is Tom

# global vs local variable

In [19]:
# global scope
father = 'Shafiq' # global variable

def student(name, id):
    # local scope
    semester = '2nd'  # local variable
    print(f'''My name is {name} and my father name is {father}.
    I'm in {semester} semester''')

student('zubair', 12004)

My name is zubair and my father name is Shafiq.
    I'm in 2nd semester

In [20]:
# global scope
father = 'Shafiq' # global variable

def student(name, id):
    # local scope
    semester = '2nd'  # local variable
    print(f'''My name is {name} and my father name is {father}.
    I'm in {semester} semester''')

student('zubair', 12004)
print(f'''my father name is {father}''')
print(f'''My name is {name}''')
print(f'''I'm in {semester} semester''')

My name is zubair and my father name is Shafiq.
    I'm in 2nd semester
my father name is Shafiq

NameError: name 'name' is not defined

# retrning a value from function

In [21]:
# global scope
father = 'Shafiq' # global variable

def student(name, id):
    # local scope
    semester = '2nd'  # local variable
    print(f'''My name is {name} and my father name is {father}.
    I'm in {semester} semester''')
    return name

name1 = student('zubair', 12004)
print(f'''my father name is {father}''')
print(f'''My name is {name1}''')

My name is zubair and my father name is Shafiq.
    I'm in 2nd semester
my father name is Shafiq
My name is zubair

In [27]:
def addtion(num1,num2):
    total = num1 + num2
    return total
    
total_amount = addtion(5,6)
print(total_amount)

11

# function in function

In [28]:
def add(num1,num2):
    total = num1 + num2
    print(total)
    
def student(name, id):
    print(f'''My name is {name}''')
    add(11,2)
    return name

name1 = student('zubair', 12004)

My name is zubair
13

In [31]:
def add(num1,num2):
    total = num1 + num2
    return total
    
def student(name, id):
    print(f'''My name is {name}''')
    add(11,2)
    return name

student('zubair', 12004)

My name is zubair

'zubair'

In [35]:
def add(num1,num2):
    total = num1 + num2
    print('----------> mujhy yahan ki nishadhi karni hai----------<')
    return total

add(13,34)

----------> mujhy yahan ki nishadhi karni hai----------<

47