# arbitary number of arguments

In [2]:
def grocery_shop(*num_of_items):
    print(num_of_items)

grocery_shop('salt','sugar','oil','tea','rice')
grocery_shop('salt','wheat','ghee')

('salt', 'sugar', 'oil', 'tea', 'rice')
('salt', 'wheat', 'ghee')

In [ ]:
def grocery_shop(*num_of_items):
    print(num_of_items)

grocery_shop('salt','sugar','oil','tea','rice')
grocery_shop('salt','wheat','ghee')

# keyword arbitary number of arguments

In [4]:
def make_profile(name, cnic, **details):
    print(name)
    print(cnic)
    print(details)

make_profile('ahsan', 42501239384, father_name = 'Nadeem',
             age = 34, location='gohar')
make_profile('Noman', 42407788834, father_name = 'Wali ullah',
             education = 'Inter', profession='sportman', age = 22)

ahsan
42501239384
{'father_name': 'Nadeem', 'age': 34, 'location': 'gohar'}
Noman
42407788834
{'father_name': 'Wali ullah', 'education': 'Inter', 'profession': 'sportman', 'age': 22}

In [5]:
def make_profile(name, cnic, **details):
    profile = {}
    profile['name'] = name
    profile['cnic'] = cnic
    for key, value in details.items():
        profile[key] = value

    return profile

profile1 = make_profile('Noman', 42407788834, father_name = 'Wali ullah',
             education = 'Inter', profession='sportman', age = 22)
profile2 = make_profile('ahsan', 42501239384, father_name = 'Nadeem',
             age = 34, location='gohar')
print(profile1)
print(profile2)

{'name': 'Noman', 'cnic': 42407788834, 'father_name': 'Wali ullah', 'education': 'Inter', 'profession': 'sportman', 'age': 22}
{'name': 'ahsan', 'cnic': 42501239384, 'father_name': 'Nadeem', 'age': 34, 'location': 'gohar'}

# error handling

In [6]:
print('hello')
print(6/3)
print('hello')

hello
2.0
hello

In [7]:
print('hello')
print(6/0)
print('hello')

hello

ZeroDivisionError: division by zero

In [8]:
print('hello')
try:
    print(6/0)

except Exception as error:
    print('My error is: ', error)
    
print('hello')

hello
My error is:  division by zero
hello

In [9]:
print('hello')
try:
    print(6/2)

except Exception as error:
    print('My error is: ', error)
    
print('hello')

hello
3.0
hello

In [10]:
print('hello')
try:
    print(6/0)

except ZeroDivisionError:
    print('Zero division Error')
    
print('hello')

hello
Zero division Error
hello

In [13]:
print('hello')
try:
    with open('example.txt', 'r') as f:
        print(f.read())

except Exception as error:
    print('File Error: ', error)
    
print('hello')

hello
File Error:  [Errno 2] No such file or directory: 'example.txt'
hello

In [15]:
print('hello')
try:
    with open('example.txt', 'r') as f:
        print(f.read())

except Exception as error:
    print('File Error: ', error)

else:
    print("working after success")
    
finally:
    print("runs at any situation")
    
print('hello')

hello
File Error:  [Errno 2] No such file or directory: 'example.txt'
runs at any situation
hello

In [16]:
print('hello')
try:
    with open('example.txt', 'w') as f:
        f.write('nouroz khan')
    print(6/0)

except Exception as error:
    print('File Error: ', error)

else:
    print("working after success")
    
finally:
    print("runs at any situation")
    
print('hello')

hello
working after success
runs at any situation
hello

In [18]:
print('hello')
try:
    print(6/0)
    with open('example.txt', 'r') as f:
        print(f.read())
    
except Exception as error:
    print('File Error: ', error)

else:
    print("working after success")
    
finally:
    print("runs at any situation")
    
print('hello')

hello
File Error:  division by zero
runs at any situation
hello

 ***Write a Python function to find the maximum value in a list of numbers.***

In [20]:
# Define a function find_max.
# Iterate through the list to find the maximum value.
# Return the maximum value.


def find_max(user_input):
    max_number = user_input[0]
    for i in user_input:
        if i > max_number:
            max_number = i
    return max_number

find_max([105,2,3,5,6,33,12,13,14])

105

# Write a Python function to convert an amount from one currency to another using a given exchange rate

In [21]:
# Define a function convert_currency.
# Take the amount and exchange rate as input.
# Apply the formula: 
# Converted Amount= Amount × Exchange Rate
# Return the converted amount.

def convert_currency(amount,exchange_rate):
    converted_amount = amount * exchange_rate
    return converted_amount

convert_currency(50,290)

14500